<ion-header>

  <ion-navbar>
    <ion-title>Contas</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="auto-scroll">
  <ion-grid fixed>
    <ion-row align-items-center justify-content-center>
      <ion-col col-12 col-sm-12 col-md-6>
        <ion-list no-lines>
          <ion-item *ngFor="let bill of items | async">
            <ion-label>{{bill.description}}
              <br>
              <small>{{ getDate(bill.date.seconds) | date:'dd/MM/yyyy HH:mm' }}
                <span *ngIf="bill.installment">
                   - em {{bill.installment}} de
                   {{bill.value / bill.installment | number:'1.2-2':'pt'}}
                </span>
              </small>
            </ion-label>
            <div item-content>
              {{bill.value | number:'1.2-2':'pt'}}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
