<ion-header>
  <ion-navbar>
    <ion-title text-uppercase>Controle de Contas e Pagamentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="auto-scroll">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Puxe para atualizar..." refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed no-padding>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-6>
        <ion-grid>

          <ion-row justify-content-center>
            <ion-col>
              <h1 ion-text text-uppercase color="info">Resumo Geral</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-auto>
              <h2 float-left>Pagamentos:</h2>
            </ion-col>
            <ion-col justify-content-end text-right>
              <h2 ion-text color="secondary">
                <strong>{{totalPayments | number:'1.2-2':'pt'}}</strong>
              </h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-auto>
              <h2 float-left>Contas:</h2>
            </ion-col>
            <ion-col justify-content-end text-right>
              <h2 ion-text color="danger">
                <strong>{{totalBills | number:'1.2-2':'pt'}}</strong>
              </h2>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col>
              <br>
              <h1 ion-text text-uppercase color="info">Últimos pagamentos</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col justify-content-center>
              <ion-list no-lines>
                  <ion-item *ngFor="let payment of lastPayments | async">
                      <ion-label>{{payment.description}}
                        <br>
                        <small>{{ getDate(payment.date.seconds) | date:'dd/MM/yyyy HH:mm' }}
                          <span *ngIf="payment.installment">
                            - em {{payment.installment}} de {{payment.value / payment.installment | number:'1.2-2':'pt'}}
                          </span>
                        </small>
                      </ion-label>
                      <div item-content>
                        {{payment.value | number:'1.2-2':'pt'}}
                      </div>
                    </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col>
              <h1 ion-text text-uppercase color="info">Últimas contas</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col justify-content-center>
              <ion-list no-lines>
                <ion-item *ngFor="let bill of lastBills | async">
                  <ion-label>{{bill.description}}
                    <br>
                    <small>{{ getDate(bill.date.seconds) | date:'dd/MM/yyyy HH:mm' }}
                      <span *ngIf="bill.installment">
                        - em {{bill.installment}} de {{bill.value / bill.installment | number:'1.2-2':'pt'}}
                      </span>
                    </small>
                  </ion-label>
                  <div item-content>
                    {{bill.value | number:'1.2-2':'pt'}}
                  </div>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
