.default-theme {

  $background-color: #fff;
  $background-color-2: #eee;
  $background-color-3: #ddd;
  $background-color-4: #ccc;
  $background-color-5: #bbb;
  $background-color-6: #aaa;
  $text-color: #000;
  $text-color-2: #222;
  $text-color-3: #333;

}
